<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>

    <!-- Navbar (Appears on all pages) -->
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Civil Projects</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="site">Site Cleaning</a></li>
                  <li><a class="dropdown-item" href="Excavation">Excavation</a></li>
                  <li><a class="dropdown-item" href="SandFilling">Sand filling</a></li>
                  <li><a class="dropdown-item" href="PCC">PCC</a></li>
                  <li><a class="dropdown-item" href="footing">Footing Concrete</a></li>
                  <li><a class="dropdown-item" href="pedestrial">Pedestrial</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
           
          </div>
        </div>
    </nav>

    <!-- Page content will be inserted here -->
    
        {% block content %}{% endblock %}


    <!-- Bootstrap JS -->

    <footer class="bg-dark text-white text-center py-3">
      <p>&copy; 2025 MyWebsite. All Rights Reserved.</p>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
